.navbar {
  color: white;
}
.navbar h2 {
  display: inline-block;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  color: white !important;
  display: block;
}
.alert {
  width: auto;
  position: absolute;
  transition: 1s opacity;
}
.bg-active {
  background-color: #f0f8ff;
  box-shadow: 1px 1px 10px 3px #92dff3;
}

/* animations goes below */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-out;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}
